:root {
  /* Primary colors */
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  /* Neutral */
  --white: hsl(0, 0%, 100%); /* text */
  --grayish-blue: hsl(240, 2%, 79%); /* footer text */
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /* body */
  --very-dark-black-blue: hsl(240, 10%, 16%); /* footer background */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Overpass", sans-serif;
}
body {
  background-color: var(--white);
  color: var(--very-dark-grayish-blue);
  font-size: 1.6rem;
}
header {
  /* display: flex; */
  width: 100%;
  height: auto;
  /* padding: 0 10px; */
  /* padding-bottom: 30px; */
  /* flex-direction: column; */
  background-image: linear-gradient(
    to top,
    #ff3d54,
    #ff5758,
    #ff6c5e,
    #ff7e66,
    #ff8f70
  );
  /* background-color: var(--light-red); */
  border-end-start-radius: 70px;
}
.header__container {
  padding: 0 10px;
  padding-bottom: 30px;
  background-image: url("../../assets/img/bg-pattern-intro.svg");
  background-position: center;
  background-size: 1000px;
  background-repeat: no-repeat;
  border-end-start-radius: inherit;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.header__logo h2 {
  display: inline-block;
  width: auto;
  height: 40px;
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
.header__title-container {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title-container h2 {
  text-align: center;
  margin: 5px 0;
  font-size: 3rem;
  color: var(--white);
  font-weight: bold;
}
.header__title-container p {
  text-align: center;
  margin: 5px 0;
  font-size: 2rem;
  font-weight: 500;
  color: var(--grayish-blue);
}
.header__title-container a {
  display: inline-block;
  width: 40%;
  height: auto;
  text-align: center;
  margin: 10px 0;
  padding: 5px;
  background-color: inherit;
  color: var(--white);
  border-radius: 25px;
  border: 2px solid var(--grayish-blue);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.info,
.info2 {
  margin: 45px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__title {
  margin: 10px 0;
  grid-column: 1 / 3;
  text-align: center;
  font-size: 4rem;
}
.info__subTitle {
  margin: 15px 0;
  font-size: 2rem;
  color: var(--very-dark-blue);
  font-weight: bold;
}
.info__p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 2rem;
}
.info__img,
.info__img2 {
  display: inline-block;
  width: 90%;
  height: 200px;
  background-color: #ff8f70;
  border-radius: 15px;
}
footer {
  /* margin: 25px 0; */
  padding: 25px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center;
  color: var(--grayish-blue);
  background-color: var(--very-dark-black-blue);
  border-top-right-radius: 70px;
}
.title-footer {
  margin: 20px 0;
  font-weight: bold;
  color: var(--white);
}
footer div {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.product__container ul li,
.company__container ul li,
.connect__container ul li {
  margin: 3px 0;
  list-style: none;
}
.product__container ul,
.company__container ul,
.connect__container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}
